<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .header {
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Madame, Monsieur,</p>
    <p>Votre commande est maintenant entre vos mains</p>
    <p> Nous espérons que vous serez satisfait(e).</p>
    <p> Votre avis nous est précieux pour nous améliorer.</p>
    <p>
      Cliquez sur le lien suivant pour
      partager votre expérience : <a href="{{reviewLink}}">Donnez votre avis</a>.
    </p>
    <p>طلبك الآن بين يديك. نأمل أن تكون راضياً عنه. رأيك مهم جدا بالنسبة لنا لتحسين خدماتنا
        شكرا !</p>
  </body>
</html>
