<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .header {
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Madame, Monsieur,</p>
    <p>Nous vous informons que votre commande sera expédiée aujourd'hui. Votre colis devrait vous être livré dans un délai de 48 heures.</p>
    <p>.نود إبلاغكم بأن طلبكم سيتم شحنه اليوم .من المتوقع وصول طردك إليك خلال 48 ساعة </p>
    <p> Nous vous remercions de votre conance et vous souhaitons une agréable journée</p>
    <p>نشكرك على ثقتك ونتمنى لك يوماً سعيداً</p>
  </body>
</html>