<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .header {
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Madame, Monsieur,</p>
    <p>Votre commande a été confirmée et sera traitée dans les meilleurs délais.</p>
    <p>Nous vous remercions de votre conance et vous souhaitons une agréable journée. </p>

    <p> تم تأكيد طلبك وسيتم معالجته في أقرب وقت ممكن. نشكرك على ثقتك ونتمنى لك يوماً سعيداً</p>
  </body>
</html>