<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
      }
      .header {
        font-size: 18px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <p>Madame, Monsieur,</p>
    <p>Nous vous remercions pour votre commande ❤️</p>
    <p> Votre commande est bien enregistrée avec le numéro <b>#{{orderId}}</b> et sera traitée dans les plus brefs délais</p>
    <p> Un membre de notre équipe vous contactera par téléphone pour confirmer votre commande et répondre à vos questions.</p>

    <p> نحن نشكركم على طلبكم. تم تسجيل طلبكم بنجاح وسيتم معالجته في أقرب وقت ممكن. سيتصل بكم .أحد أعضاء فريقنا هاتفياً لتأكيد طلبكم والإجابة على استفساراتكم</p>
  </body>
</html>